* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1f2020;
}

.btn {
    font-weight: 700;
    background-image: linear-gradient(to right, #3c5980, #006aff);
    cursor: pointer;
    font-size: inherit;
    font-family: 'Open Sans', sans-serif;
    line-height: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin-top: 20px;
    font-style: initial;
    white-space: nowrap;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.6;
    margin: 10px;
}

.btn:hover {
    transition: all.7s ease;
    line-height: 2.2;
    border-radius: 25px;
    color: #f1ac5d;
}

.btn:not(:hover) {
    transition: all.7s ease;
}

input {
    background-color: whitesmoke;
    color: black;
    margin-left: 10px;
    font-size: 20px;
    border-radius: 5px;
}

.notaProva {
    margin-right: 109px;
}

